<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @task.title %>
</p>

<p>
  <b>Description:</b>
  <%= raw(@task.description) %>
</p>

<p>
  <b>Estimate:</b>
  <%= @task.estimate %>
</p>

<p>
  <b>Status:</b>
  <%= @task.status %>
</p>

<p>
  <b>Requested:</b>
  <%= @task.user.name %>
</p>

<p>
  <b>Owns:</b>
  <%= find_username_by_id(@task.owns) %>
</p>

<p>
  <b>Subtasks:</b>
  <% @task.sub_tasks.each do |elem| %>
      <p>
        <i> <%= elem.title%>:</i>
          <% if elem.checked %>
              finished
          <% else %>
              not finished yet
          <% end %>
      </p>
  <% end %>
</p>


<% if @comments.present? %>
<b>Comments:</b>
<table class="microposts" summary="User microposts">
  <%  @comments.each do |comment| %>
    <tr>
      <td class="micropost"> 
        <span class="user"><b><%= comment.user.name %>: </b></span>
        <span class="content"><%= comment.content %></span>
        <span class="timestamp">Posted <%= time_ago_in_words(comment.created_at) %> ago.</span>
      </td>
      <td>
      </td> 
    </tr> 
  <% end %>
</table>
<% end %>


<%= form_for @comment do |f|%>
  <div class="field">
    <%= f.label "Leave a comment:" %><br />
    <%= f.text_area :content %>
  </div>
  <div class="field">
    <%= f.hidden_field :user_id, :value => current_user.id %>
  </div>
  <div class="field">
    <%= f.hidden_field :task_id, :value => @task.id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>



<%= link_to 'Edit', edit_project_task_path(@project,@task) %> |
<%= link_to 'Back', project_path(@project) %>
