<%= form_for(@sub_task) do |f| %>
  <% if @sub_task.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@sub_task.errors.count, "error") %> prohibited this sub_task from being saved:</h2>

      <ul>
      <% @sub_task.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :checked %><br />
    <%= f.text_field :checked %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
