<h1>Listing sub_tasks</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Checked</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @sub_tasks.each do |sub_task| %>
  <tr>
    <td><%= sub_task.title %></td>
    <td><%= sub_task.checked %></td>
    <td><%= link_to 'Show', sub_task %></td>
    <td><%= link_to 'Edit', edit_sub_task_path(sub_task) %></td>
    <td><%= link_to 'Destroy', sub_task, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Sub task', new_sub_task_path %>
