<h1><%= @title %></h1>
<% if @accounts.present? %>
  <table>
    <tr>
      <th>Name</th>
      <th>Actions</th>
      <th></th>
      <th></th>
    </tr>
    <% @accounts.each do |account| %>
      <tr>
        <% hint = 'Your account' %>
        <% unless current_user.id == account.user.id %>
            <% hint = account.user.name %>
        <% end %>    
        <td><%= link_to "#{account.name} (#{hint})", account %></td>
        <% if account.user.id == current_user.id %>
        <td>
          <%= link_to('Edit', edit_account_path(account))%> |
          <%= link_to('Destroy', account, :confirm => 'Are you sure?', :method => :delete)%>
        </td>
        <% end %>
      </tr>
    <% end %>
  </table>
<% end %>



<br />

<%= link_to 'New Account', new_account_path %>
