<p>
  <b>Name:</b>
  <%= @account.name %>
</p>

<p>
  <%= render "shared/index_projects"  %>
</p>

<% if @account.user.id == current_user.id %>
	<p>
 		 <%= render "shared/requests"  %>
	</p>
	<p> 
  		<%= render "shared/members"  %>
	</p>
<% end %>

<% unless @members.include?(current_user.id) %>
	<%= link_to "Send request to #{@account.name}", send_request_account_path(@account), :method => :post %> 
<% end %>

<%= link_to 'Edit', edit_account_path(@account) %> |
<%= link_to 'Back', accounts_path %>
